body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: ‘Times New Roman’, Times, serif;
}
hr {
    border: none;
    border-top: 1px dashed #FFC01B;
    margin: 2em auto;
}
a {
    color: #FFC01B;
}
a + a {
    padding-left: 0.5em;
}
#body-container {
    width: 80%;
    margin: auto;
}
#header, #content, #footer {
    margin: 3em 0;
    display: flex;
}
#header {
    justify-content: space-between;
    align-items: flex-end;
}
#header .left {
    text-align: left;
}
#header .right {
    text-align: right;
}
#content {
    flex-direction: column;
}
#footer {
}
#footer div {
    width: 50%;
}
#footer .left {
    text-align: left;
}
#footer .right {
    text-align: right;
}
#pi {
    cursor: pointer;
}
