body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
}
hr {
    border: none;
    border-top: 1px dotted #000000;
    margin: 2em auto;
}
#body-container {
    width: 80%;
    margin: 2em auto;
}
#body-container div {
    overflow: hidden;
}
#header {
}
#content {
}
#footer {
    display: flex;
}
#footer div {
    width: 50%;
}
#footer .left {
    text-align: left;
}
#footer .right {
    text-align: right;
}
#pi {
    cursor: pointer;
}
