body {
    margin: 0;
    padding: 0;
    background-color: #77216F;
    color: #FFFFFF;
}
hr {
    border: none;
    border-top: 1px dotted #E95420;
    margin: 2em auto;
}
a {
    color: #E95420;
}
#body-container {
    width: 80%;
    margin: 2em auto;
}
section {
    overflow: hidden;
}
#header {
}
#content {
}
#footer {
}
#footer div {
    width: 50%;
}
#footer .f-left {
    float: left;
    text-align: left;
}
#footer .f-right {
    float: right;
    text-align: right;
}
